* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
h4 {
    font-family: "BPG Nino Mtavruli", sans-serif;
}
h1 {
    font-family: "BPG Nino Mtavruli", sans-serif;
}
h2 {
    font-family: "BPG Nino Mtavruli", sans-serif;
}
h3 {
    font-family: "BPG Nino Mtavruli", sans-serif;
}

/*------------------top----------------------*/
.top-first {
    background-color: #306587;
    display: flex;
}
.top-first p {
   color: #fff;
}
/*------------------navbar----------------------*/
nav {
    background-color: #FFC33E;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.sidebar {
    position: fixed;
    top: 68px;
    right: 0;
    height: 100vh;
    width: 100%;
    background-image: url(./nav-background.png);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar a {
    color: #fff;
}
.menu-button {
    display: none;
}
.numbers a {
    width: 140px;
    background-color: #FFC33E;
    color: #fff;
}
.cards-section {
    display: flex;
}
.cards-back {
    display: flex;
}
.sm-card {
    display: flex;
} 
@media(max-width: 992px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .numbers {
        display: none;
    }
    .logo-desktop {
        display: none;
    }
    .top-first {
        display: none !important;
    }
}
@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .showOnMobile {
        display: none;
    }

    ul {
        flex-direction: row-reverse !important;
        align-items: center !important;
    }
    .logo-mobile {
        display: none;
    }
    .logo a {
        display: none;
    }
    nav {
        background-color: #fff;
        align-items: center !important;
    }
}



/*--------------------blog main--------------*/
.shigtavsi-main {
    display: flex;
    width: 100%;
}
.shigtavsi-img {
    background-image: url(./blog-html/blog-main.png);
    height: 400px;
    width: 90%;
}
.shigtavsi-main p {
    width: 100%;
}



/*--------------------cards---------------*/
.all-card {
    display: flex;
    width: 100%;
}
.card1 {
    display: flex;
    width: fit-content !important;
}
.solution {
    width: 90%;
} 

.paragraph {
    width: 100%;
}
.paragraph a {
    background-color: #FFC33E;
    color: #fff;
    text-decoration: none;
}
.paragraph p {
    color: #84829A;
}
.Page {
    display: flex;
}



/*-----------------------pagination---------------*/
.pagination1 {
    display: flex;
}


.ad {
    display: flex;
}



/*----------------footer-----------------*/
.footer {
    display: flex;
    width: 100%;
  }
  .top-footer a {
    color: #181433;
    text-decoration: none;
    padding-top: 10px;
  }
  .copy {
    display: flex;
    width: 100%;
  }




  /*---------------M O B I L E------------*/

  .mob-blog {
    display: flex;
    width: 100% !important;
  }
  .last-par {
    width: 100%;
  }
  .mob-cardback img {
    width: 100%;
  }
  .mob-cardback a {
    background-color: #FFC33E;
    text-decoration: none;
    color: #fff;
  }


  .sm-cont {
    display: flex;
  }




  /*-----------------cards-------------*/
  .r-blog a {
    background-color: #FFC33E;
    text-decoration: none;
    color: #fff;
  }


  .mob-cards {
    display: flex;
  }


  /*--------------scroll--------------*/
.scroll-mob {
    display: flex;
}
.partniors-des {
    display: flex;
}
.scrolling-wrapper {
    width: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
   .card {
      display: inline-block;
    }
  }
  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-wrapper::-webkit-scrollbar {
    width: 14px;               /* width of the entire scrollbar */
  }


  /*-----------------footer mobile--------------*/

  .footer-mob {
    display: flex;
    width: 100%;
    background-color: #FFC33E;
  }
  .footermob-bck a {
    color: #000000;
  }
  .contact-links a {
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    width: 100%;
  }










@media (min-width: 992px) {
    .mob-blog {
        display: none;
    }
    .sm-cont {
        display: none;
      }
      .mob-cards {
        display: none;
      }
      .scroll-mob {
        display: none;
    }
    .footer-mob {
        display: none;
    }
}
@media (max-width: 992px) {
    .shigtavsi-main {
        display: none;
    }
    .all-card {
        display: none;
    }
    .Page {
        display: none;
    }
    .pagination1 {
        display: none;
    }
    .ad {
        display: none;
    }
    .footer {
        display: none;
    }
    .copy {
        display: none;
    }
}