* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
/*------------------top----------------------*/
.top-first {
    background-color: #306587;
    display: flex;
}
.top-first p {
   color: #fff;
}
/*------------------navbar----------------------*/
nav {
    background-color: #FFC33E;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.sidebar {
    position: fixed;
    top: 68px;
    right: 0;
    height: 100vh;
    width: 100%;
    background-image: url(./nav-background.png);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar a {
    color: #fff;
}
.menu-button {
    display: none;
}
.numbers a {
    width: 140px;
    background-color: #FFC33E;
    color: #fff;
}
.cards-section {
    display: flex;
}
.cards-back {
    display: flex;
}
.sm-card {
    display: flex;
} 
@media(max-width: 992px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .numbers {
        display: none;
    }
    .logo-desktop {
        display: none;
    }
    .top-first {
        display: none !important;
    }
}
@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .showOnMobile {
        display: none;
    }

    ul {
        flex-direction: row-reverse !important;
        align-items: center !important;
    }
    .logo-mobile {
        display: none;
    }
    .logo a {
        display: none;
    }
    nav {
        background-color: #fff;
        align-items: center !important;
    }
}



/*-----------------main component--------------*/

.main-comp {
    display: flex;
    width: fit-content;
}


/*---------------small cards---------------------*/

.sm-cards {
    display: flex;
}
.sm-cards img {
    width: 50px;
}


/*-------------------divided container-------------*/
.div-cont {
    display: flex;
}

.clearfix img {
    float: right;
    margin: 0 0 10px 10px; 
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


  /*------------------AD--------------*/
  .ad-img {
    display: flex;
  }

  /*----------------second container-------------*/

  .sec-containers {
    display: flex;
  }
  .container img {
    width: 300px;
  }
  .right-cont img {
    width: 200px !important;
  }


  /*----------------footer------------------*/

  .footer {
    display: flex;
    width: 100%;
  }
  .top-footer a {
    color: #181433;
    text-decoration: none;
    padding-top: 10px;
  }
  .copy {
    display: flex;
    width: 100%;
  }




  /*--------------M O B I L E----------------*/

  .mob-all {
    display: flex;
  }
  .mob-bck {
    background-image: url(./MOBILE/sastumromain.png);
    width: 90%;
    height: 100px;
  }
  .house-containers {
    display: flex;
  }
  .mob-ad {
    display: flex;
  }
  .mob-ad img {
    width: 100%;
  }





  /*-----------divided container-------*/
  .divide {
    display: flex;
  }
  



  /*--------------scroll--------------*/
.scroll-mob {
    display: flex;
}
.partniors-des {
    display: flex;
}
.scrolling-wrapper {
    width: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
   .card {
      display: inline-block;
    }
  }
  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-wrapper::-webkit-scrollbar {
    width: 14px;               /* width of the entire scrollbar */
  }

   /*-----------------footer mobile--------------*/

   .footer-mob {
    display: flex;
    width: 100%;
    background-color: #FFC33E;
  }
  .footermob-bck a {
    color: #000000;
  }
  .contact-links a {
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    width: 100%;
  }











  @media(min-width: 992px) {
    .mob-all {
        display: none;
    }
    .house-containers {
        display: none;
    }
    .mob-ad {
        display: none;
      }
      .divide {
        display: none;
      }
      .scroll-mob {
        display: none;
    }
    .footer-mob {
        display: none;
    }
  }

@media(max-width: 992px) {
    .main-comp {
        display: none;
    }
    .sm-cards {
        display: none;
    }
    .div-cont {
        display: none;
    }
    .ad-img {
        display: none;
    }
    .sec-containers {
        display: none;
    }
    .footer {
        display: none;
    }
    .copy {
        display: none;
    }
}



